/* 
Highlight Palette
#00DBDE
#005C68
#E6F4F1
#FCFCD4
*/


.brand a{
    text-decoration: none;
    color: #005C68 ;
}

.tittle {
    font-style: italic;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #00DBDE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #005C68;
    margin: 0;
    padding: 0px 32px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    color: #E6F4F1;
    padding-left: 8px;
}

nav ul li a:hover {
    color: #FCFCD4 ;
}

.menu {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn--cart {
    background-color: #E6F4F1;
    padding: 8px;
    border-radius: 4px;
}

footer {
    display: flex;
    align-items: center;
}
